<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!-- Matomo
  <script>
    if (localStorage.getItem('matomoTrackingEnabled') !== 'false') {
      var _paq = window._paq = window._paq || [];
      _paq.push(['disableCookies']);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://matomo.scs.community/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    }
  </script>
  End Matomo Code -->
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | prepend: site.baseurl}}" />
  <link rel="manifest" href="{{ "/site.webmanifest" | prepend: site.baseurl}}" />
  <link rel="mask-icon" color="#50c3a5" href="{{ "/safari-pinned-tab.svg" | prepend: site.baseurl }}" />
  <meta name="msapplication-TileColor" content="#50c3a5">
  <meta name="theme-color" content="#ffffff">

  {% if page.collection == "digest" %}
    {% assign title = site.title | append: " | " | append: site.headline.digest | append: " #" | append: page.title | remove: ".md" %}
    {% assign description = site.description.digest %}
  {% elsif page.collection == "journal" %}
    {% assign title = site.title | append: " | " | append: site.headline.journal | append: " #" | append: page.title | remove: ".md" %}
    {% assign description = site.description.journal %}
  {% endif %}

  <title>{{ title }}</title>
  <meta property="og:title" content="{{title}}">
  <meta property="twitter:title" content="{{title}}">
  <meta name="description" content="{{description}}" />
  <meta property="og:description" content="{{description}}" />
  {% seo %}
  {% feed_meta %}

  {% include style.html %}
</head>
