---
---
Content-Language: en-US
From: %FROM_ADDRESS%
Organization: Open Source Business Alliance e.V.
To: %TO_ADDRESS%
Subject: SCS Community Digest #{{page.issue}}
Date: %DATE%
MIME-Version: 1.0
Content-Type: multipart/alternative; boundary="{{page.multipart_boundary}}"
Content-Class: urn:content-classes:message

This is a multi-part message in MIME format.

--{{page.multipart_boundary}}
Content-Type: text/plain; charset="UTF-8"
Content-Transfer-Encoding: 8bit

Sovereign Cloud Stack
Community Digest #{{page.issue}}
========================================
{% if page.intro %}
{{page.intro | strip_html}}
{% endif %}
{%- if page.highlight %}
{{page.highlight.title}}
****************************************

{{page.highlight.text | strip_html}}

{{page.highlight.button.text}}: {{page.highlight.button.link}}
{% endif %}
{% for story in page.substories -%}
{{story.title}}
****************************************

{{story.text | strip_html}}

{{story.button.text}}: {{story.button.link}}

{% endfor -%}
--{{page.multipart_boundary}}
Content-Type: text/html; charset="UTF-8"
Content-Transfer-Encoding: 8bit

{{page.html_content}}
--{{page.multipart_boundary}}--
